.guides {
  width: 100%;
}

.guides .main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--semiwhite);
  color: var(--black);
  font-size: 1.15rem;
  padding: 50px;
  max-width: 1500px;
  width: 100%;
}

.guides ul li {
  margin-bottom: 20px;
  font-size: 1.25rem;
  text-decoration: underline;
  transition: all 0.3s;
  color: var(--black);
}

.guides ul li:hover {
  color: var(--dark3);
}

@media (max-width: 1200px) {
  .guides {
    padding-top: 20px;
  }
  .guides .main {
    padding: 40px;
  }
}