.footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  color: var(--white);
  padding-bottom: 50px;
}

.footer a:hover {
  color: var(--color2);
}