:root {
  --black: #1b1b1e;
  --semiblack: #1b1b1ee4;
  --white: #f4f2f9;
  --semiwhite: #f4f2f9f7;
  --dark1: #5d3850;
  --dark2: #3b4a62;
  --dark3: #2c3a50;
  --dark4: #42375e;
  --dark5: #684a62;
  --color1: #bda2bf;
  --color2: #c6c6e3;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

50% {
    background-position: 0% 50%;
  }

100% {
    background-position: 100% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  background: var(--black);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  animation: 30s infinite ease-in-out gradient;
  background: linear-gradient(120deg, var(--dark4) 0%, var(--dark1) 2%, var(--dark2) 60%, var(--dark5) 98%, var(--dark3) 100%);
  background-size: 400% 400%;
  color: var(--black);
  font-family: var(--font-libre-franklin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p, input, label, textarea {
  font-family: var(--font-libre-franklin);
}

textarea {
  padding: 10px;
  height: 45px;
  min-height: 45px;
  max-height: 90px;
  max-width: 100%;
  min-width: 100%;
}

button, .button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
}

ul {
  list-style-type: square;
}

ul, ol {
  padding-left: 20px;
}

.top-bar {
  z-index: 200;
  background-color: var(--color2);
  color: var(--black);
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.top-bar h1 {
  padding-left: 30px;
}

.top-bar button, .top-bar .button {
  display: none;
}

.stacks {
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px var(--semiwhite),
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px var(--semiwhite),
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
  margin-top: -60px;
}

.stacks.flipped {
  box-shadow:
    0 -1px 1px rgba(0,0,0,0.15),
    0 -10px 0 -5px var(--semiwhite),
    0 -10px 1px -4px rgba(0,0,0,0.15),
    0 -20px 0 -10px var(--semiwhite),
    0 -20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
  margin-bottom: -60px;
}

.top-bar a {
  text-decoration: none;
  color: var(--black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.3s;
}

h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  height: 60px;

  small {
    font-size: 1.8rem;
    padding-top: 8px;
  }
}

h2.page-title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--white);
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 80px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

h2, h3, h4 {
  scroll-margin-top: 100px;
}

hr {
  color: var(--black);
  margin: 10px 0;
}

.page {
  display: flex;
  min-height: calc(100vh - 160px);
  margin: 40px auto;
  margin-bottom: 0;
  padding: 50px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-libre-franklin);
}

.pageNav {
  font-size: 1.1rem;
}

.pageNav ul {
  margin-top: 15px;
}

.pageNav p {
  font-weight: 600;;
}

.page * {
  animation: fadeIn 0.75s;
}

@media (max-width: 1200px) {
  textarea {
    min-height: 90px;
  }
  .page {
    padding: 20px;
  }
  h2 {
    padding-left: 15px;
  }
  .top-bar h1 {
    padding-left: 15px;
  }
  .top-bar button, .top-bar .button {
    display: block;
  }
}