.main {
  display: flex;
  width: 100%;
  max-width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin-top: 40px;
}

.intro {
  width: 100%;
  max-width: 1400px;
  padding-top: 15px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 50px;
}

.intro div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 45vw;
}

.intro p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--white);
}

.intro .headline {
  font-size: 3.25rem;
  text-wrap: balance;
  /* font-family: var(--font-merriweather); */
}

.intro .guides {
  background: var(--semiwhite);
  color: var(--black);
  padding: 50px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
}

.intro .group {
  gap: 0 !important;
  margin-top: 80px;
}

.intro .guides h2 {
  padding: 0;
  color: var(--black);
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.intro .guides ul li {
  margin-bottom: 15px;
  font-size: 1.25rem;
  text-decoration: underline;
  transition: color 0.3s;
  color: var(--black);
}

.intro .guides ul li:hover {
  color: var(--dark3);
}

a.primary {
  background: var(--black);
  color: var(--black);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

@media (max-width: 1200px) {
  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 5px;
  }

  .intro div {
    max-width: 100%;
    width: 100%;
  }

  .intro .headline {
    text-align: left;
    font-size: 2.25rem;
    padding: 0 15px;
  }

  .intro p {
    text-align: left;
    font-size: 1.25rem;
    padding: 0 15px;
  }

  .intro .guides {
    padding: 40px;
    text-align: left;
    width: 100%;
  }

  .intro .guides h2 {
    text-align: left;
    font-size: 1.25rem;
  }
}